<script>
    function twGenerate() {
        console.log("Generating...");
        var xhr = new XMLHttpRequest();
        xhr.addEventListener("load", function() {
            document.getElementById("results").innerHTML = "";
            console.log("Response: ", this.responseText);
            if (this.status === 500) {
              document.getElementById("results").innerHTML = "<p>Error: " + this.responseText + "</p>";
              return;
            }
            var data = JSON.parse(this.responseText).results;
            var results = document.getElementById("results");
            for (let i = 0; i < data.length; i++) {
                var element = document.createElement("div");
                element.className = "my-1 p-3 bg-white";
                element.innerHTML = "<p class=\"text-xs font-bold\">Twitter User</p><p class=\"text-xs\">Full User Name</p><p class=\"my-2\">" + data[i] + "</p> <button class=\"text-xs bg-gradient-to-br from-purple-100 to-red-200 p-1 mt-2 hover:from-purple-300 hover:to-red-300 border border-slate-200 rounded\">Click to Copy</button>";
                results.appendChild(element);
            }
        });
        xhr.open("POST", "http://localhost:3000/generate", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({
          "data": document.getElementById("content").value,
          "includeRewrites": document.getElementById("includeRewrites").checked,
        }));
    }
    document.getElementById("generate").addEventListener("click", twGenerate);
</script>
</body>
</html>
