<%- include("_header") %>
<div class="flex flex-col mt-12">
    <div class="flex-1 bg-white my-2 md:mx-20 mx-5 p-5 rounded shadow-lg">
        <h1 class="mb-2 text-5xl font-bold text-center">Tweet Writer</h1>
        <p class="text-xl text-center p-1">Are you tired of spending hours brainstorming and writing tweets for your social media presence?</p>
        <p class="text-sm text-left p-1">Look no further, because our product is here to help. Introducing Tweet Writer, the program that writes tweets for you! Simply input an article or some paragraphs, and our program will generate a list of attention-grabbing and engaging tweets for you to use on your social media platforms.</p>
        <p class="text-sm text-left p-1">No more writer's block or tedious tweeting, Tweet Writer has got you covered. Try it out today and see the difference it can make for your social media strategy.</p>
        <p class="text-xl text-center p-1">#TimeSaver #socialmedia #TweetGenerator</p>
    </div>
    <div class="flex-1 bg-white my-2 md:mx-20 mx-5 p-5 rounded shadow-lg">
        <h1 class="mb-2 text-xl font-bold text-left">Enter your article or content:</h1>
        <textarea id="content" class="border-solid border-2 border-emerald-500 min-w-full h-32 max-w-lg"></textarea>
        <p class="text-xs">Each paragraph will generate more tweets</p>
        <div class="my-1">
            <input id="includeRewrites" type="checkbox" class="form-checkbox ml-2 h-3 w-3 text-green-600">
            <label for="includeRewrites" class="ml-1 text-sm text-gray-900">Include Rewrites</label>
        </div>
        <div class="my-5">
            <button id="generate" class="bg-gradient-to-br from-teal-100 to-green-200 p-3 hover:from-teal-300 hover:to-green-300 border border-slate-200 rounded font-bold">
                Generate Tweets!
            </button>
        </div>
    </div>
    <div class="flex-1 bg-white my-2 md:mx-20 mx-5 p-5 rounded shadow-lg">
        <h1 class="mb-2 text-2xl font-bold text-center">Generated Tweets</h1>
        <div id="results" class="bg-blue-50 p-5">
            <div class="my-1 p-3 bg-white">
                <p class="text-xs font-bold">Twitter User</p>
                <p class="text-xs">Full User Name</p>
                <p class="my-2">Example tweet</p>
                <p class="text-sm">Select and copy the tweet</p>
            </div>
        </div>
    </div>
</div>

<%- include("_footer") %>
