<%- include("_header") %>
<div class="flex place-content-center mt-12 bg-white m-20 p-10">
    <div>
        <h1 class="text-2xl">Tweet Writer</h1>
        <p>Enter your article or content:</p>
        <textarea class="border-solid border-2 border-emerald-500"></textarea>
        <p>Click "Generate" and you will receive a list of tweets generated based on the above content</p>
        <button class="bg-gray-100 p-3">Generate</button>
        <h1 class="text-2xl">Tweets</h1>
        <div id="results"></div>
    </div>
</div>

<%- include("_footer") %>
